<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/order.css">
<link rel="stylesheet" href="/css/grid_containers.css">
</head>

<body>
<%- include('../includes/adminnav.ejs') %>

<main>
    <form action="/admin/sort">
      <label for="search">Search:</label>
      <input type="text" id="search" name="search" placeholder="Search our products">
      <input type="submit" value="Submit"><br><br>
    </form>

    <h1>Buyers</h1>


    <div class="penta-grid-container">
    <% for (var i = 0; i < buyers.length; i++) { %>
    <% buyer = buyers[i]; %>
        <div class="grid-item">
            <div class="admin_buyer">
                <div class="name" style="background-color: #fFf1e1; font-size: 1rem;">
                    <h1>
                        Name: <%= buyer.name %>
                    </h1>
                </div>
                <div class="address" style="font-size: 1rem;">
                    Address: <%= buyer.address %>
                </div>
                <div class="contact" style="font-size: 1rem;">
                    Contact: <%= buyer.contact %>
                </div>
                <div class="mail" style="font-size: 1rem;">
                    Mail Address: <%= buyer.mail %>
                </div>
                <div class="balance" style="font-size: 1rem;">
                    Balance: ₹ <%= buyer.balance %> /-
                </div>
            </div>
        </div>
    <% } %>
    </div>
</main>
<%- include('../includes/end.ejs') %>