<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <div class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/base/browse' ? 'active' : '' %>" href="/browse">Browse</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/base/about' ? 'active' : '' %>" href="/about">About</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/base/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
            <%
                if (path === '/base/signup') {
            %>
            <li class="main-header__item">
                <a class="<%= path === '/base/signup' ? 'active' : '' %>" href="/signup">Sign Up</a>
            </li>
            <%
                }
            %>

        </ul>
    </div>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/base/browse' ? 'active' : '' %>" href="/base/browse">Browse</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/base/about' ? 'active' : '' %>" href="/base/about">About</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/base/login' ? 'active' : '' %>" href="/base/login">Login</a>
        </li>
    </ul>
</nav>