<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <div class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/buyer/browse' ? 'active' : '' %>" href="/buyer/browse">Browse</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/buyer/history' ? 'active' : '' %>" href="/buyer/history">Order History</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/buyer/recharge' ? 'active' : '' %>" href="/buyer/recharge">Recharge</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/buyer/about' ? 'active' : '' %>" href="/buyer/about">About</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/buyer/cart' ? 'active' : '' %>" href="/buyer/cart">Cart</a>
            </li>

        </ul>
    </div>
</header>