<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/order.css">
<link rel="stylesheet" href="/css/grid_containers.css">
</head>

<body>
<%- include('../includes/sellernav.ejs') %>

<main>
    <form action="/seller/sort">
      <label for="search">Search:</label>
      <input type="text" id="search" name="search" placeholder="Search our products">
      <input type="submit" value="Submit"><br><br>
    </form>

    <h1>Ongoing Orders</h1>


    <div class="penta-grid-container">
    <% for (var i = 0; i < orders.length; i++) { %>
    <% order = orders[i]; %>
        <div class="grid-item">
            <div class="seller_ongoing">
                <div class="id" style="background-color: #fFf1e1; font-size: 1rem;">
                    <h1>
                        Order ID <%= order.orderid %>
                    </h1>
                </div> <br>
                <div class="buyer" style="font-size: 1rem;">
                    Buyer: <%= order.buyer %>
                </div> <br>
                <div class="itemlist">
                    Items in the order: <br>
                        <% for (var j = 0; j < order.productlist.length; j++) { %>
                        <% prod = order.productlist[j]; %>
                        <% quant = order.quantitylist[j]; %>
                        <% cost = order.costlist[j]; %>
                        <%= prod %> : <%= quant %>x → ₹ <%= cost %> <br>
                        <% } %>
                </div> <br>
                <div class="cost" style="font-size: 1rem;">
                    Cost: ₹ <%= order.totalcost %> /-
                </div>
            </div>
        </div>
    <% } %>
    </div>
</main>
<%- include('../includes/end.ejs') %>